@model Livraria.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <!-- Exibe os autores relacionados -->
        <dt class="col-sm-2">Autores</dt>
        <dd class="col-sm-10">
            @foreach (var autor in ViewBag.Autores)
            {
                <span>@autor.Nome</span><br />
            }
        </dd>
        <!-- Exibe os assuntos relacionados -->
        <dt class="col-sm-2">Assuntos</dt>
        <dd class="col-sm-10">
            @foreach (var assunto in ViewBag.Assuntos)
            {
                <span>@assunto.Nome</span><br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codl">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
